.header {
    width: 100%;
    height: 100vh;
    background-image: url(/latihan_37_parallax_mouse_move/img/kuil.png);
    background-size: cover;
    background-position: center center;
}

#rumput,
#cell,
#team {
    width: 100%;
    height: 100vh;
    position: absolute;
}

#cell {
    width: 105%;
}

.box {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.move {
    width: 100%;
    height: 100vh;
    background-image: url("/latihan_38_scroll_effect/img/bg2.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.move>h1 {
    top: 5rem;
    display: block;
    color: white;
    position: relative;
}

.move>.frame {
    top: 6rem;
    width: 18.75rem;
    height: 25rem;
    position: relative;
    opacity: 0.6;
    padding: 2.3rem;
    overflow: hidden;
    background: rgb(255, 255, 255);
    text-align: justify;
}

.move>p {
    position: relative;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bola1,
.bola2,
.bola3 {
    position: absolute;
    left: 25rem;
}