.header {
    width: 100%;
    height: 100vh;
    background-image: url(/latihan_40_zooming/img/kuil.png);
    background-size: cover;
    background-position: center center;
}

#rumput,
#celll,
#team {
    width: 100%;
    height: 100vh;
    position: absolute;
}

#celll {
    width: 105%;
}

.box {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.move {
    width: 100%;
    height: 100vh;
    background-image: url("/latihan_40_zooming/img/bg2.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.move>h1 {
    top: 5rem;
    display: block;
    color: white;
    position: relative;
}

.move>.frame {
    top: 6rem;
    width: 18.75rem;
    height: 25rem;
    position: relative;
    opacity: 0.6;
    padding: 2.3rem;
    overflow: hidden;
    background: rgb(255, 255, 255);
    text-align: justify;
}

.move>p {
    position: relative;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bola1,
.bola2,
.bola3 {
    position: absolute;
    left: 25rem;
}

.karakter {
    width: 100%;
    height: 100vh;
    background-image: url('/latihan_40_zooming/img/bg.jpg');
}

.karakter>h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding-top: 1rem;
    padding-left: 3.5rem;

}

.char {
    width: 11rem;
    height: 11rem;
    position: absolute;
    border-radius: 20px;
    border: 0.0625rem solid black;
    box-shadow: 2px 2px 5px black;

}

#bez {
    left: 50px;
    background-image: url('/latihan_40_zooming/img/char/bez.jpg');
    background-size: cover;
}

#buu {
    left: 230px;
    background-image: url('/latihan_40_zooming/img/char/buu.jpg');
    background-size: cover;
}

#cel {
    left: 50px;
    top: 260px;
    background-image: url('/latihan_40_zooming/img/char/cel.jpg');
    background-size: cover;
}

#kame {
    left: 230px;
    top: 260px;
    background-image: url('/latihan_40_zooming/img/char/kame.jpg');
    background-size: cover;
}

#pic {
    left: 50px;
    top: 450px;
    background-image: url('/latihan_40_zooming/img/char/pic.jpg');
    background-size: cover;
}

#son {
    left: 230px;
    top: 450px;
    background-image: url('/latihan_40_zooming/img/char/son.jpg');
    background-size: cover;
}

.view {
    width: 31.25rem;
    height: 32.25rem;
    border: 1px solid black;
    left: 600px;
    position: relative;
}

.zoom {
    background-image: url('/latihan_40_zooming/img/langit.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#tr {
    position: absolute;
    width: 500px;
    left: 50px;
}

#trunk {
    position: absolute;
    width: 500px;
    left: 400px;
    top: 150px;
}