.header {
    width: 100%;
    height: 100vh;
    background-image: url(/latihan_37_parallax_mouse_move/img/kuil.png);
    background-size: cover;
    background-position: center center;
}

#rumput,
#cell,
#team {
    width: 100%;
    height: 100vh;
    position: absolute;
}

#cell {
    width: 105%;
}

.box {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}